@import "./variables.scss";

// ANT SELECT INPUT STYLES

.ant-form-item {
  margin-bottom: 0 !important;

  &:hover {
    border-color: $orange !important;
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $orange !important;
  color: #fff !important;
}

.ant-select-item {
  &:focus {
    border-color: $orange !important;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1) !important;
  }
}
.ant-slider-handle {
  border-color: $orange !important;
}
.ant-slider-track {
  background-color: $orange !important;
}

// FEATURED PRODUCT SLIDER STYLES

.featuredSwiper {
  .swiper-button-prev {
    background-color: #1dc295 !important;
    border-color: $orange !important;
    width: 40px;
    left: 1px;
    padding: 5px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &::after {
      font-size: 25px;
      color: #fff;
    }
  }
  .swiper-button-next {
    background-color: #1dc295 !important;
    border-color: $orange !important;
    width: 40px;
    padding: 5px;
    height: 40px;
    right: 1px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &::after {
      font-size: 25px;
      color: #fff;
    }
  }
}
.detailSwiper {
  .swiper-button-prev {
    background-color: #fff !important;
    border-color: $orange !important;
    width: 40px;
    left: 1px;
    padding: 5px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &::after {
      font-size: 25px;
      color: $orange;
    }
  }
  .swiper-button-next {
    background-color: #fff !important;
    border-color: $orange !important;
    width: 40px;
    padding: 5px;
    height: 40px;
    right: 1px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &::after {
      font-size: 25px;
      color: $orange;
    }
  }
}
