@import "./variables.scss";
@mixin flexrowcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flexrowbetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flexrowjstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexrowjend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@mixin flexrowjspace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flexrowastart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@mixin flexrowaend {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
@mixin flexcolcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexcoljstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexcoljend {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@mixin flexcoljspace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flexcolastart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@mixin flexcolaend {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
@mixin orangeButton {
  background-color: $orange;
  padding: 15px 25px;
  color: #fff;
  font-weight: 550;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 50px 0;
  &:hover {
    background-color: #f3775c !important;
  }
}
@mixin mainTitle {
  color: $navyBlue;
  font-size: 35px;
  font-weight: 600;
  margin: 30px 0;
  font-family: $mainFont;
}
@mixin sectionPM {
  margin: 40px 0;
  padding: 40px 0;
}
@mixin subTitle {
  margin: auto;
  max-width: 700px;
}
@mixin productDetailBox{
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}