@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.contact {
  @include sectionPM;

  .contactForm {
    width: 100%;
  }
  .contactFormHeader {
    padding: 10px 0;
    width: 100%;

    .contactFormTitle {
      @include mainTitle;
    }
    .contactFormSubTitle {
      font-family: $mainFont;
      color: $pColor;
      font-size: 17px;
    }
  }
  .formLabel {
    font-family: $mainFont;
    font-size: 17px;
  }
  .formInput {
    width: 100%;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #efefef;
    margin: 10px 0;
    transition: border 0.3s ease-in-out;
    outline: none;

    &:focus {
      border: 2px solid #4fd3c4;
    }
  }
}
.formButton {
  padding: 10px 15px;
  border: 2px solid transparent;
  outline: none;
  background-color: $orange;
  color: #fff;
  font-weight: 600;
  font-family: $mainFont;
  border-radius: 5px;
  font-size: 17px;
}
.errorInput {
  border: 2px solid #ff3f00 !important;
}
.errorMessage {
  color: #ff3f00;
  display: inline-block;
  font-family: $mainFont;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contactInfoHeader{
    padding: 10px 0;
    width: 100%;

    
    .contactInfoTitle {
        margin: 30px 0;
        font-size: 25px;
        font-weight: 600;
        font-family: $mainFont;
    }
    .contactInfoSubTitle {
        font-family: $mainFont;
        color: $pColor;
        font-size: 16px;
    }

}

.contactInfoIcon{
    font-size: 23px;
    color: $orange;
    margin-right: 10px;
}
.contactInfoText{
    margin: 0;
    font-family: $mainFont;
    color: $navyBlue;
    font-size: 17px;
}