@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.footer {
  padding-top: 50px;
  background: url("../../../assets/footer/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footerSloganText {
  margin: 35px 0;
  color: #fff;
}
.socialIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footerSocialLink {
  margin-right: 20px;
  background-color: #5a5764;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #fff;
    transform: translateY(-10px);

    .socialIcon {
      color: $orange !important;
    }
  }

  .socialIcon {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin: auto;
    font-size: 17px;
    color: #fff;
  }
}
.footerTitle {
  color: #fff;
  font-size: 25px;
  font-family: $mainFont;
  font-weight: 600;
  margin-bottom: 30px;
}
.footerList {
  padding: 0;
  height: 100%;
  .footerListItem {
    list-style: none;
    margin: 15px;
    .footerListLink {
      font-size: 14px;
      color: #fff;
      font-family: $mainFont;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $orange;
      }
    }
  }
}
.footerListIcon {
  font-size: 20px;
  min-width: 30px;
  margin-right: 10px;
  color: $orange;
}
.formArea {
  position: relative;
  margin-top: 40px;
}
.footerInput {
  width: 100%;
  padding: 20px;
  background-color: #5a5764;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}
.footerSubmitBtn {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  font-size: 20px;
  color: $orange;
  transition: all 0.2s ease-in-out;
  background-color: $orange;
  color: #fff;
  border: none;
  border-radius: 10px;
  &:hover {
    background-color: $green;
  }
}
.footerSubmitIcon {
  font-size: 18px;
}
.footerText {
  margin: 25px 0;
  color: #fff;
  font-family: $mainFont;
}
.footerBottom {
  border-top: 1px solid #5a5764;
  padding: 30px 0;
  margin-top: 40px;
}
.footerTitle {
  font-size: 14px;
  text-align: center;
  margin: 0;

  .byTitle {
    color: $orange;
  }
}

@media screen and (max-width:320px) {
    .footerListItem{
      margin: 10px 0 !important;
    }
}