@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.productDetail {
  margin: 1rem 0;
  height: 100%;
}
.productImageWrapper {
  font-size: 0;
  margin: 10px;
  .productImage {
    border-radius: 15px;
  }
}

.productDetailHeader {
  @include productDetailBox;
  margin: 20px 0;
}
.productDetailInner {
  padding: 25px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.productDetailLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

  .productDetailTags {
    @include flexrowastart;
    margin-bottom: 15px;

    .productDetailTag {
      padding: 5px 10px;
      font-family: $mainFont;
      font-size: 15px;
      margin-right: 10px;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
    }
    .advertTag {
      background-color: $orange;
    }
    .featuredTag {
      background-color: $green;
    }
    .isNewTag {
      background-color: purple;
    }
  }
  .productDetailAddress {
    color: $orange;
    font-size: 18px;
    font-weight: 600;
    font-family: $mainFont;
    margin-bottom: 15px;
  }
  .productDetailTitle {
    font-family: $mainFont;
    color: $navyBlue;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .productDetailArea {
    margin-bottom: 15px;
    .productDetailAreaText {
      font-family: $mainFont;
      color: $pColor;
      font-size: 16px;
      font-weight: 600;
    }
    .productDetailAreaTotal {
      color: $orange;
      font-size: 17px;
      font-weight: 600;
    }
  }
}
.productDetailFeature {
  @include flexrowjstart;
  flex-wrap: wrap;
  width: 100%;

  .productDetailFeatureItem {
    margin-right: 10px;
    @include flexrowcenter;

    .productDetailFeatureIcon {
      font-size: 20px;
      margin-right: 5px;
      color: $orange;
    }
    .productDetailFeatureText {
      font-size: 16px;
      color: $navyBlue;
      font-family: $mainFont;
    }
  }
}
.productDetailRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  min-width: 110px;

  .productDetailPrice {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $orange;
    padding: 10px;
    @include flexrowcenter;

    .productDetailPriceText {
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      font-family: $mainFont;
    }
  }
}
.productDetailAverage{
 
  margin-top: 15px;
}
// DESCRIPTION BOX

.descriptionBox {
  @include productDetailBox;
  margin: 20px 0;

  .descriptionBoxInner {
    padding: 25px;
    width: 100%;
    height: 100%;

    .descriptionBoxTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }
    .descriptionBoxText {
      color: $pColor;
      font-size: 16px;
      font-family: $mainFont;
    }
  }
}

// OVERVIEW BOX

.overview {
  @include productDetailBox;
  margin: 20px 0;

  .overviewInner {
    padding: 25px;
    width: 100%;
    height: 100%;

    .overviewTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }
  }
}

.overviewContent {
  @include flexrowcenter;
  flex-wrap: wrap;
}
.overviewItem {
  margin: 5px;
  padding: 15px;
  min-width: 150px;
  min-height: 150px;
  @include flexcolcenter;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
.overviewIcon {
  font-size: 40px;
  color: $green;
  margin: 5px 0;
}
.overviewText {
  color: $pColor;
  font-family: $mainFont;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.overviewValue {
  color: $orange;
  font-family: $mainFont;
  font-weight: 600;
  font-size: 16px;
}

// ADDRESS BOX

.addressBox {
  @include productDetailBox;
  margin: 20px 0;

  .addressBoxInner {
    padding: 25px;
    width: 100%;
    height: 100%;

    .addressBoxTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }
    .addressBoxItem {
      @include flexrowbetween;
      margin-bottom: 5px;
      .addressBoxItemTitle {
        font-size: 16px;
        font-family: $mainFont;
        margin-bottom: 0;
        font-weight: 600;
      }
      .addressBoxItemText {
        font-family: $mainFont;
        color: $pColor;
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 550;
      }
    }
  }
}

// FEATURES BOX

.featuresBox {
  @include productDetailBox;
  margin: 20px 0;

  .featuresBoxInner {
    padding: 25px;
    width: 100%;
    height: 100%;

    .featuresBoxTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }
    .featuresBoxItem {
      @include flexrowjstart;
      margin-bottom: 5px;

      &:hover {
        .featuresBoxIconWrpper {
          background-color: $orange;

          .featuresBoxIcon {
            color: #fff;
          }
        }
      }
      .featuresBoxItemTitle {
        font-size: 16px;
        font-family: $mainFont;
        margin-bottom: 0;
        font-weight: 600;
      }
      .featuresBoxIconWrpper {
        background-color: rgb(228, 255, 243);
        width: 30px;
        margin-right: 5px;
        @include flexrowcenter;
        transition: all 0.2s ease-in-out;
        height: 30px;
        border-radius: 50%;

        .featuresBoxIcon {
          transition: all 0.2s ease-in-out;
          color: $green;
          font-size: 20px;
        }
      }
    }
  }
}

// PLAN BOX

.planBox {
  @include productDetailBox;
  margin: 20px 0;

  .planBoxInner {
    padding: 25px;
    width: 100%;
    height: 100%;
    .planBoxHeader {
      @include flexrowbetween;
    }
    .planBoxTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }
    .productDetailFeature {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;

      .productDetailFeatureItem {
        margin-right: 10px;
        @include flexrowcenter;

        .productDetailFeatureIcon {
          font-size: 18px;
          margin-right: 5px;
          color: $orange;
        }
        .productDetailFeatureText {
          font-size: 15px;
          color: $navyBlue;
          font-family: $mainFont;
        }
      }
    }

    .planBoxImage {
      margin-top: 20px;
      background-color: rgb(228, 255, 243);
    }
  }
}

// ACTION BOX

.actionBox {
  @include productDetailBox;
  margin: 20px 0;

  .actionBoxInner {
    padding: 25px;
    width: 100%;
    height: 100%;
    background-color: #f3f7fd;
    .actionBoxButton {
      @include flexrowcenter;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 15px;
      height: 50px;
      background-color: $orange;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      font-family: $mainFont;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $green;
      }
    }
    .actionBoxButtonBroucher {
      background-color: $navyBlue;
    }
  }
}

.agentBox {
  @include productDetailBox;
  margin: 20px 0;
  .agentBoxHeader {
    background-color: $navyBlue;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .agentBoxImage {
      margin-right: 10px;
      font-size: 0;

      .personImg {
        border-radius: 50%;
      }
    }

    .agentBoxName {
      color: #fff;
      font-family: $mainFont;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .agentBoxText {
      color: #fff;
      font-size: 16px;
      font-family: $mainFont;
    }
    .phoneIcon {
      color: $orange;
      font-size: 22px;
    }
  }
  .agentBoxInner {
    padding: 25px;
    width: 100%;
    height: 100%;
  }
}
.agentBoxFormItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

  .agentBoxFormLabel {
    font-size: 17px;
    color: $navyBlue;
    font-family: $mainFont;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .agentBoxFormInput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #efefef;
    font-size: 16px;
    transition: border 0.2s ease-in-out;
    outline: none;
    &:focus {
      border: 2px solid $orange;
    }
  }
}
.agentBoxFormButton {
  @include orangeButton;
  margin: 0 !important;
}

// Featured Property

.featuredProperty {
  @include productDetailBox;
  margin: 20px 0;
  .featuredPropertyInner {
    padding: 25px;
    width: 100%;
    height: 100%;
    background-color: #f3f7fd;

    .featuredPropertyTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }

    .featuredPropertyItem {
      border: 1px solid #e6e6e6;
      background-color: #fff;
      padding: 10px;
      margin-top: 10px;
      @include flexrowbetween;
      border-radius: 5px;

      .featuredPropertyImage {
        font-size: 0;
        margin-right: 5px;
        height: 100%;
        min-width: 120px;

        .featuredPropertyImg {
          border-radius: 5px;
        }
      }
      .featuredPropertySubTitle {
        font-size: 15px;
        font-family: $mainFont;
        color: $navyBlue;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $orange;
        }
      }
      .featuredPropertyIcon {
        color: $orange;
        font-size: 17px;
        margin-right: 5px;
      }
      .featuredPropertyAddressText {
        color: $pColor;
        font-family: $mainFont;
        font-size: 14px;
      }
      .featuredPropertyTag {
        color: $green;
        font-family: $mainFont;
        background-color: #e4fff3;
        padding: 3px;
      }
      .featuredPropertyPriceText {
        color: $navyBlue;
        font-weight: 600;
        font-family: $mainFont;
      }
    }
  }
}
.productTags {
  @include productDetailBox;
  margin: 20px 0;
  .productTagsInner {
    padding: 25px;
    width: 100%;
    height: 100%;

    .productTagsTitle {
      font-family: $mainFont;
      color: $navyBlue;
      font-size: 25px;
      font-weight: 600;
    }

    .productTagsItem {
      margin-right: 10px;
      background-color: $green;
      padding: 10px;
      margin-top: 10px;
      @include flexrowbetween;
      border-radius: 5px;
      color: #fff;
      font-family: $mainFont;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $orange;
      }
    }
  }
}

@media screen and (max-width:450px) {
  .productDetailAddress{
    font-size: 16px !important;
  }
  .productDetailTitle{
    font-size: 20px !important;
  }
  .overviewItem{
    min-width: 130px !important;
  }
}

@media screen and (max-width:300px) {
  .productDetailRight{
    margin-top: 20px !important;
  }
  .productDetailInner{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (max-width:360px) {
  .actionBoxButton{
    padding: 0 5px !important;
  }
  .featuredPropertyImage{
    margin-bottom: 10px !important;
  }
  .featuredPropertyItem{
    flex-direction: column !important;
  }
}