@import "../../../style/variables.scss";


.options{
    margin: 1rem 0;
    padding: 3rem 0;
    background-color: #e9faff;
}
.optionInner{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.optionTitle{
    margin: 20px 0;
    color: $navyBlue;
    font-weight: 550;
}
.optionDescription{
    color: $pColor;
    font-size: 18px;
}

.optionButton{
    background-color: $orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 550;
    transition: all .1s ease-in-out;
    &:hover{
      
        background-color: #1dc295;
    }
}