@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.options{
    @include sectionPM;
    background-color: #e9faff;
}
.optionInner{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.optionTitle{
    margin: 20px 0;
    color: $navyBlue;
    font-weight: 550;
}
.optionDescription{
    color: $pColor;
    font-size: 18px;
}

.optionButton{
    @include orangeButton;
}